absl-py==2.3.1
action-msgs==2.0.3
action-tutorials-interfaces==0.33.7
action-tutorials-py==0.33.7
actionlib-msgs==5.3.6
actuator-msgs==0.0.1
aenum==3.1.16
affine==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
ament-cmake-test==2.5.4
ament-copyright==0.17.3
ament-cppcheck==0.17.3
ament-cpplint==0.17.3
ament-flake8==0.17.3
ament-index-python==1.8.1
ament-lint==0.17.3
ament-lint-cmake==0.17.3
ament-package==0.16.4
ament-pep257==0.17.3
ament-uncrustify==0.17.3
ament-xmllint==0.17.3
angles==1.16.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
anywidget==0.9.21
appdirs==1.4.4
asttokens==3.0.0
attrs==25.4.0
blessings==1.7
boto3==1.40.74
botocore==1.40.74
bqplot==0.12.45
branca==0.8.2
brotli==1.2.0
builtin-interfaces==2.0.3
cachetools==6.2.2
certifi==2025.11.12
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
coloredlogs==15.0.1
comm==0.2.3
composition-interfaces==2.0.3
contourpy==1.3.3
cv-bridge==4.1.0
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
demo-nodes-py==0.33.7
diagnostic-msgs==5.3.6
docstring_parser==0.17.0
domain-coordinator==0.12.0
earthengine-api==1.7.1rc0
ee==0.2
eerepr==0.1.2
einops==0.8.1
example-interfaces==0.12.0
examples-rclpy-executors==0.19.6
examples-rclpy-minimal-action-client==0.19.6
examples-rclpy-minimal-action-server==0.19.6
examples-rclpy-minimal-client==0.19.6
examples-rclpy-minimal-publisher==0.19.6
examples-rclpy-minimal-service==0.19.6
examples-rclpy-minimal-subscriber==0.19.6
executing==2.2.1
fastapi==0.121.2
ffmpy==1.0.0
filelock==3.19.1
filetype==1.2.0
fiona==1.10.1
fire==0.7.1
flatbuffers==25.9.23
folium==0.20.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.9.0
future==1.0.0
GDAL==3.8.4
geedim==2.0.0
geemap==0.36.6
geocoder==1.38.1
geometry-msgs==5.3.6
geopandas==1.1.1
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-cloud-core==2.5.0
google-cloud-storage==3.5.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
gps-msgs==2.1.1
gradio==5.49.1
gradio_client==1.13.3
groovy==0.1.2
grpcio==1.76.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
huggingface==0.0.1
huggingface-hub==0.36.0
humanfriendly==10.0
hydra-core==1.3.2
idna==3.7
image-geometry==4.1.0
ImageIO==2.37.2
importlib_resources==6.5.2
interactive-markers==2.5.5
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipyleaflet==0.20.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
jsonargparse==4.43.0
jupyter-leaflet==0.20.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
kornia==0.8.2
kornia_rs==0.1.10
laser-geometry==2.7.2
launch==3.4.7
launch-ros==0.26.9
launch-testing==3.4.7
launch-testing-ros==0.26.9
launch-xml==3.4.7
launch-yaml==3.4.7
lazy_loader==0.4
lifecycle-msgs==2.0.3
lightly==1.5.22
lightly-utils==0.0.2
lightning==2.5.6
lightning-utilities==0.15.2
logging-demo==0.33.7
map-msgs==2.4.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdurl==0.1.2
message-filters==4.11.8
ml_dtypes==0.5.3
mpmath==1.3.0
multidict==6.7.0
narwhals==2.11.0
nav-msgs==5.3.6
networkx==3.5
numpy==2.2.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
onnx==1.19.1
onnxruntime-gpu==1.23.2
opencv-contrib-python==4.12.0.88
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
orjson==3.11.4
osrf-pycommon==2.1.7
packaging==25.0
pandas==2.3.3
parso==0.8.5
pcl-msgs==1.0.0
pendulum-msgs==0.33.7
pexpect==4.9.0
pi_heif==1.1.1
pillow==11.3.0
pillow-avif-plugin==1.5.2
plotly==6.4.0
polars==1.35.2
polars-runtime-32==1.35.2
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.1
psutil==7.1.3
psygnal==0.15.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybboxes==0.1.6
pydantic==2.11.10
pydantic_core==2.33.2
pydub==0.25.1
Pygments==2.19.2
pyogrio==0.11.1
pyparsing==3.2.5
pyperclip==1.11.0
pyproj==3.7.2
pyshp==3.0.2.post1
python-box==7.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
python-qt-binding==2.2.2
pytorch-lightning==2.5.6
PytorchWildlife==1.2.4.2
pytz==2025.2
PyYAML==6.0.3
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.7
rasterio==1.4.3
ratelim==0.1.6
rcl-interfaces==2.0.3
rclpy==7.1.5
rcutils==6.7.4
regex==2025.11.3
requests==2.32.5
requests-toolbelt==1.0.0
resource-retriever==3.4.4
rich==14.2.0
rmw-dds-common==3.1.0
roboflow==1.2.11
ros-gz-bridge==1.0.16
ros-gz-interfaces==1.0.16
ros-gz-sim==1.0.16
ros2action==0.32.6
ros2bag==0.26.9
ros2bag-mcap-cli==0.26.9
ros2bag-sqlite3-cli==0.26.9
ros2cli==0.32.6
ros2component==0.32.6
ros2doctor==0.32.6
ros2interface==0.32.6
ros2launch==0.26.9
ros2lifecycle==0.32.6
ros2multicast==0.32.6
ros2node==0.32.6
ros2param==0.32.6
ros2pkg==0.32.6
ros2run==0.32.6
ros2service==0.32.6
ros2topic==0.32.6
rosapi==2.3.0
rosapi-msgs==2.3.0
rosbag2-interfaces==0.26.9
rosbag2-py==0.26.9
rosbridge-library==2.3.0
rosbridge-msgs==2.3.0
rosbridge-server==2.3.0
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.6
rosidl-cli==4.6.6
rosidl-cmake==4.6.6
rosidl-generator-c==4.6.6
rosidl-generator-cpp==4.6.6
rosidl-generator-py==0.22.2
rosidl-generator-type-description==4.6.6
rosidl-parser==4.6.6
rosidl-pycommon==4.6.6
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.2
rosidl-typesupport-fastrtps-cpp==3.6.2
rosidl-typesupport-introspection-c==4.6.6
rosidl-typesupport-introspection-cpp==4.6.6
rpyutils==0.4.2
rqt==1.6.1
rqt-action==2.2.0
rqt-bag==1.5.5
rqt-bag-plugins==1.5.5
rqt-console==2.2.1
rqt-graph==1.5.5
rqt-gui==1.6.1
rqt-gui-py==1.6.1
rqt-msg==1.5.1
rqt-plot==1.4.4
rqt-publisher==1.7.2
rqt-py-common==1.6.1
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
rsa==4.9.1
rtree==1.4.1
ruff==0.14.5
s3transfer==0.14.0
safehttpx==0.1.7
safetensors==0.6.2
sahi==0.11.36
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.3
scooby==0.11.0
seaborn==0.13.2
segmentation_models_pytorch==0.5.0
semantic-version==2.10.0
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
service-msgs==2.0.3
setuptools==70.2.0
shape-msgs==5.3.6
shapely==2.1.2
shellingham==1.5.4
simsimd==6.5.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sros2==0.13.4
stack-data==0.6.3
starlette==0.49.3
statistics-msgs==2.0.3
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
stringzilla==4.2.3
supervision==0.23.0
sympy==1.13.1
tabulate==0.9.0
teleop-twist-keyboard==2.4.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.2.0
terminaltables==3.1.10
tf2-geometry-msgs==0.36.14
tf2-kdl==0.36.14
tf2-msgs==0.36.14
tf2-py==0.36.14
tf2-ros-py==0.36.14
tf2-sensor-msgs==0.36.14
tf2-tools==0.36.14
theora-image-transport==4.0.6
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.10.16
timm==0.9.16
tokenizers==0.22.1
tomlkit==0.13.3
topic-monitor==0.33.7
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchgeo==0.7.2
torchmetrics==1.8.2
torchvision==0.20.1+cu121
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.3
trajectory-msgs==5.3.6
transformers==4.57.1
triton==3.1.0
turtlesim==1.8.3
type-description-interfaces==2.0.3
typer==0.20.0
typer-slim==0.20.0
typeshed_client==2.8.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ultralytics==8.3.228
ultralytics-thop==2.0.18
unique-identifier-msgs==2.5.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.38.0
vision-msgs==4.1.1
visualization-msgs==5.3.6
wcwidth==0.2.14
websockets==15.0.1
Werkzeug==3.1.3
wget==3.2
widgetsnbextension==4.0.15
xacro==2.1.1
xyzservices==2025.10.0
yarl==1.22.0
yolov5==7.0.13
